
<div class="container-fluid ayd-category-section">
    <div class="container">

        <div class="row">
            <div class="col-4 position-relative">
                <img
                        src="{{ asset('bundles/ayodoyagarmentstheme/shop-category-image-1_optimized.webp', 'asset') }}"
                        class="img-fluid" alt="Sample Image"
                >
                <div class="position-absolute bottom-0 start-0 p-5 text-white cate-meta-data">
                    <p>461 articles</p>
                    <h2>Jackets</h2>
                </div>
            </div>
            <div class="col-4 position-relative">
                <img
                        src="{{ asset('bundles/ayodoyagarmentstheme/shop-category-image-2_optimized.webp', 'asset') }}"
                        class="img-fluid" alt="Sample Image"
                >
                <div class="position-absolute bottom-0 start-0 p-5 text-white cate-meta-data">
                    <p>280 articles</p>
                    <h2>Sweaters</h2>
                </div>
            </div>
            <div class="col-4 position-relative">
                <img
                        src="{{ asset('bundles/ayodoyagarmentstheme/shop-category-image-3_optimized.webp', 'asset') }}"
                        class="img-fluid" alt="Sample Image"
                >
                <div class="position-absolute bottom-0 start-0 p-5 text-white cate-meta-data"">
                    <p>532 articles</p>
                    <h2>Accessories</h2>
                </div>
            </div>
        </div>

    </div>
</div>
