@import "layout/promotion-header";
@import "layout/navigation";
@import "layout/ayd_header_top";
@import "layout/ayd-new-arrivals";
@import "layout/ayd_home_category_section";
@import "layout/ayd_footer";

.ayd-header {
  margin-top: -25px !important;
  margin-bottom: -15px;
}
.ayd-header-logo{

}
.ayd-header-logo img{
  height: 80px;
}



