.new-arrivals-section{
  margin:100px 0;
  .container{
    width: auto;
  }
  .section-header{
    p{
      font-weight: 600;
      font-size: 18px;
      opacity: 0.5;
      padding-bottom: 20px;
    }
    h2{
      font-weight: 800;
      font-size: 40px;
    }
    .btn{
      background-color: rgba(2, 1, 1, 0);
      font-weight: 600;
      text-transform: uppercase;
      color: black;
      border-style: solid;
      border-width: 2px;
      border-color: rgb(104, 114, 121);
      border-radius: 0;
      &:hover{
        background-color: red! important;
        border-color: red;
        color: white;
      }
    }
  }

  .card{
    min-width: 300px;
    border:0;
    .badge{
      color: #ffffff;
      line-height: 1.7;
      padding: 4px 14px;
      text-align: center;
      border-radius: 5px
    }
    img{
      max-width: 100%;
      height: auto;
    }

    .card-body {
      padding: 20px 0;
      .card-title{
        border: none;
        font-size: 20px;
        text-align: left;
        line-height: 1.5;     /* control spacing between lines */
        height: 3em;          /* fix height (2 lines in this case) */
        overflow: hidden;
      }
      p{
        font-size: 18px;
      }
      .category{
        font-size: 16px;
        font-weight: 600;
      }
      strike{
        font-size: 14px;
        color: #687279;
        font-weight: 500;
      }
      .btn{
        background-color: red;
        font-weight: 600;
        color: white;
        border-style: solid;
        border-width: 2px;
        border-color: red;
        padding: 10px 15px;
        &:hover{
          background-color: red! important;
          border-color: red;
          color: white;
          opacity: 0.8;
        }
      }

    }
  }
}

 .product-img {
   transition: transform 0.3s ease;
 }
.product-img:hover {
  transform: scale(1.05);
}
