.ayd-header-top{
  background-color: black;
  height:40px;
  font-size: 16px;
}

.ayd-promo-text h3, a{
    color: white;
    font-size: 17px;
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
    margin-top:0;
    margin-bottom: 0;
}
.ayd-promo-text a{
  color:red !important;
}
.ayd-social-icons a{
  padding: 0 10px;
  color: white;
}