.ayd-main-navigation{ background-color: black;}
.ayd-main-navigation a{ color: white; font-size: 16px;}
.ayd-main-navigation a:hover{ color: #f5f5f5; font-size: 16px;}
.ayd-main-navigation a:active{ color: #f5f5f5; font-size: 16px;}