<!-- Fullwidth Top Bar -->
<div class="container h-100">
    <div class="row h-100 align-items-center">
        <!-- Left Column: Promo Message -->
        <div class="col-md-6 ayd-promo-text">
            <h3>{{ "ayodoya.headerTop.text"|trans }}</h3>
            <a href="/offers" class="text-white font-weight-bold">
                {{ "ayodoya.headerTop.anchor"|trans }}
            </a>
        </div>

        <!-- Right Column: Social Icons -->
        <div class="col-md-6 ayd-social-icons text-end">
            <a href="https://facebook.com" target="_blank" class="ml-3">
                {% sw_icon 'social-facebook' style {
                    'size': 'md',
                    'namespace': 'AyodoyaGarmentsTheme',
                    'pack': 'ayd-icon'
                } %}
            </a>
            <a href="https://twitter.com" target="_blank" class="ml-3">
                {% sw_icon 'social-twitter' style {
                    'size': 'md',
                    'namespace': 'AyodoyaGarmentsTheme',
                    'pack': 'ayd-icon'
                } %}
            </a>
            <a href="https://instagram.com" target="_blank" class="ml-3">
                {% sw_icon 'social-instagram' style {
                    'size': 'md',
                    'namespace': 'AyodoyaGarmentsTheme',
                    'pack': 'ayd-icon'
                } %}
            </a>
            <a href="https://linkedin.com" target="_blank" class="ml-3">
                {% sw_icon 'social-linkedin' style {
                    'size': 'md',
                    'namespace': 'AyodoyaGarmentsTheme',
                    'pack': 'ayd-icon'
                } %}
            </a>
        </div>

    </div>
</div>